In [4]:
import pandas as pd
import numpy as np
from pathlib import Path

### Importação das Regressões Semanais

In [11]:
def importa_planilha():
    local_regress = Path("in_excel/regressao/Regressões_PMO_2019.xls")
    df = pd.ExcelFile(local_regress)
    regress =  df.parse("Correlações_Semanais", header=4)
    return regress

In [30]:
def trata_planilha():
    df = importa_planilha()
    df.drop('Unnamed: 17',axis=1, inplace=True)
    df.dropna(inplace=True)
    df.set_index('Código', inplace=True)
    df.drop('Aproveitamento', axis=1, inplace=True)
    df.drop('Aproveitamento.1', axis=1, inplace=True)
    df.drop('Código.1', axis=1, inplace=True)
    df.drop('Unnamed: 3', axis=1, inplace=True)
    df.drop('Unnamed: 4', axis=1, inplace=True)
    df.drop('Unnamed: 21', axis=1, inplace=True)
    df.drop('Unnamed: 22', axis=1, inplace=True)
    return df

In [32]:
k = trata_planilha()
k

,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,3.1,4.1,5.1,6.1,7.1,8.1,9.1,10.1,11.1,12.1
Código,,,,,,,,,,,,,,,,,,,,,
2,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
7,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.127,1.129,1.125,1.117,1.117,1.116,1.108,1.109,1.103,1.104
8,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.159,1.165,1.157,1.147,1.145,1.143,1.130,1.131,1.123,1.122
9,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.172,1.182,1.170,1.158,1.158,1.155,1.139,1.141,1.130,1.127
10,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.210,1.225,1.208,1.195,1.192,1.190,1.165,1.165,1.152,1.147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.395,0.391,0.421,0.488,0.549,0.602,0.638,0.591,0.519,0.462
230,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.009,1.009,1.009,1.009,1.010,1.009,1.009,1.009,1.010,1.009
204,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.997,0.997,0.997,0.997,0.997,0.997,0.998,0.996,1.000,1.000
297,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.009,1.009,1.009,1.009,1.009,1.009,1.009,1.011,1.010,1.009
55,A0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.660,0.660,0.660,0.660,0.660,0.660,0.660,0.660,0.660,0.660

In [ ]:
def separa_a0_a1(df):
    a0 = (df.T).head()